<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="adressebetegnelse"></input>
        <button v-on:click="filter(adressebetegnelse) ">filter</button>
        <button v-on:click="sortBy">sort</button>

    
        <button v-on:click="getAdress()">get adrresser</button>
       <div v-for="adresse in adress">{{adresse.adressebetegnelse}}</div>
        
        
    </div>



    <script src="index.js"> </script>
</body>

</html>